/* 
.play-page-content .main-bottom-content-row {
    overflow: hidden;
    margin-top: 50px;
  }

.play-page-main-bottom-site {
  height: 90vh;
  padding-left: 200px;   
  padding-right: 200px;  
} */